body{
    margin: 0;
}

section{
    overflow: hidden;
}

div{
    display: flex;
    align-items: center;
}

.vitas{
    width: 300px;
    /* transition: .5s; */
    animation-name: mover;
    animation-duration: 10s;
    /* animation-fill-mode: backwards; */
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* img:hover{
    filter: grayscale(100%);
    box-shadow: 0 0 30px black;
    transform: rotate(360deg) scale(10);
} */

@keyframes mover{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-2000px);
    }
}

/* @keyframes mover{
    0%{
        transform: translateX(0) translateY(0);
    }

    20%{
        transform: translateX(200px) translateY(0);
    }

    40%{
        transform: translateX(200px) translateY(200px);
    }

    80%{
        transform: translateX(0) translateY(0);
    }

    100%{
        transform: rotate(100deg);
    }
} */